.container {
    display: flex;
    flex-grow: 1;
    padding: 1rem;
    margin: 0 auto;
    gap: 1rem;
}

.container:first-child {
    align-items: center;
}

.recipe-page-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.recipe-page-title>span {
    font-size: 32px;
    font-weight: bolder;
}

.title-main {
    display: none;
    padding: 0 1rem;
}

.home {
    background-image: url("../images/home.svg");
    height: 50px;
    width: 50px;
    scale: 1;
    transition: ease-in-out 150ms;
}

.home:hover {
    background-image: url("../images/home-filled.svg");
    scale: 1.1;
}

.home-mobile {
    display: none;
}

.food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.food-img {
    max-height: 500px;
    border: 3px solid black;
    border-radius: 5px;
}

.description {
    padding: 0 1rem;
}

.description p {
    font-size: 20px;
    margin-left: 1rem;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ingredients {
    padding: 0 1rem;
}

.ingredients>ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 20px;
}

li {
    margin-left: 3rem;
}

.steps {
    padding: 1rem;
}

.steps>ol {
    font-size: 20px;
}

ol,
ul {
    max-inline-size: 66ch;
    line-height: 1.65;
    padding-left: 0;
}

@media (width <=1666px) {
    header {
        margin: 0 5vw;
    }
}

@media (width <=1025px) {
    header {
        margin: 0;
    }

    .title-logo {
        display: none;
    }

    .title-main {
        display: block;
    }

    .home {
        display: none;
    }

    .home-mobile {
        display: block;
        position: fixed;
        background-image: url("../images/back-button.svg");
        height: 75px;
        width: 75px;
        bottom: 40px;
        right: 25px;
        opacity: 0.9;
        border-radius: 100px;
    }

    .container {
        flex-direction: column;
    }

    .ingredients>ul {
        display: block;
    }
}

@media (width <= 576px){
    header {
        justify-content: center;
    }

    .title-main {
        text-align: center;
    }
}