.container {
    display: flex;
    flex-grow: 1;
    padding: 0 1rem;
    margin: 0 auto;
    gap: 1rem;
}

.container:first-child {
    align-items: center;
}

.recipe-page-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.recipe-page-title>span {
    font-size: 32px;
    font-weight: bolder;
}

.home {
    background-image: url("../images/home.svg");
    height: 50px;
    width: 50px;
    scale: 1;
    transition: ease-in-out 150ms;
}

.home:hover {
    background-image: url("../images/home-filled.svg");
    scale: 1.1;
}

.food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.food-img {
    height: 500px;
    border: 3px solid black;
    border-radius: 5px;
}

.description {
    padding: 0 1rem;
}

.description p {
    font-size: 20px;
    margin-left: 1rem;
}

.text {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.ingredients {
    padding: 0 1rem;
}

.ingredients>ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 20px;
}

.ingredients>ul>li {
    margin-left: 3rem;
}

.steps {
    padding: 1rem;
}

.steps>ol {
    font-size: 20px;
}

ol,
ul {
    max-inline-size: 66ch;
    line-height: 1.65;
}