:root {
    --bg-color: #f9f6ee;
    --text: #131007;
}

* {
    font-family: 'Georgia', sans-serif;
    background-color: var(--bg-color);
    color: var(--text);
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

p {
    max-inline-size: 66ch;
    line-height: 1.65;
}

header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    width: 1500px;
    margin-inline: auto;
}

header>span {
    font-size: 32px;
    font-weight: bolder;
}

hr {
    width: 95%;
    border: 1px solid black;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
    user-select: none;
    -webkit-user-drag: none;
}

footer {
    display: flex;
    padding: 1vh;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    text-align: center;

    a:hover {
        animation: rotate .5s forwards;
    }
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}